@import "../../utils/dataStyles"

@media only screen and (max-width: 991px)
  .we-created

    .from-to
      align-items: center
      padding-bottom: 20px


@media only screen and (max-width: 575px)
  .we-created

    .create-projects

      &:last-child
        padding-top: 15px

      span
        font-size: 70px

        &:first-child
          font-size: $subTitle575

        &:last-child
          font-size: 16px

    .from-to
      text-align: center

      span
        font-size: $titleSize575


@media only screen and (min-width: 992px)
  .we-created

    .col
      order: 0!important
