@import "../../utils/dataStyles"

@media only screen and (max-width: 1199px)
  .construction-time

    .card
      min-height: 271px

    .card-box
      margin-top: 15px
      display: flex
      align-items: center

      .card
        min-height: auto

@media only screen and (max-width: 991px)
  .construction-time

    .card
      min-height: 271px

    .card-box

      .card
        min-height: auto

@media only screen and (max-width: 767px)
  .construction-time

    .card
      min-height: 271px

    .mh-auto
      min-height: auto

    .mt-sm-10
      margin-top: 10px

    .card-box
      width: 100%
      flex-direction: column

      .card
        width: 100%
        min-height: auto

        .img-container
          width: 100%


@media only screen and (max-width: 575px)
  .construction-time

    h2
      font-size: $titleSize575

    .card
      min-height: auto
      margin: 10px 0

    .card-box
      margin: 10px 0

      .card
        margin: 0