@import "../../utils/dataStyles"

@media only screen and (max-width: 991px)
  .services

    .service-item
      min-height: 183px

    .min-h-40
      min-height: 140px

@media only screen and (min-width: 768px)
  .services

    .display-lg-flex
      display: flex!important

@media only screen and (max-width: 767px)
  .services

    .service-item
      min-height: auto

    .ptop-sm-5
      padding-top: 50px

@media only screen and (max-width: 575px)
  .services

    .title
      font-size: $titleSize575
      padding-bottom: 0

    .service-item
      display: flex
      align-items: center
      padding-left: 15px
      margin-top: 25px

      img
        min-width: 45px
        min-height: 45px
        width: 45px
        height: 45px
        margin-right: 10px

      .item-text

        span

          &:first-child
            font-size: 19px

          &:last-child
            font-size: 14px