<div class="offices">
    <div class="title">
        <span>НАШИ ОФИСЫ</span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6 pl-lg-5 pt-3 position-relative bg-col"
                style="background-image: url('https://gitradik.github.io/stone-houses/assets/images/5.jpg')">
                <div class="back"></div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="subtitle">
                                <span>GOOD STONE</span>
                                <span>в Запорожье</span>
                            </div>
                        </div>
                        <div class="col-md-12 pb-2">
                            <div class="zone">
                                <span>Зона оказания услуг - Запорожье</span>
                                <span> и Запорожская область</span>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-end">
                            <div class="address-time">
                                <div class="d-flex flex-column align-items-end text-right">
                                    <span>г. Зпорожье, проспект</span>
                                    <span>Соборный, д. 20, оффис 170</span>
                                </div>
                                <img src="https://gitradik.github.io/stone-houses/assets/images/geo.svg" alt="geo">
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-end">
                            <div class="address-time">
                                <div class="d-flex flex-column align-items-end">
                                    <span>пн-пт 10:00 - 22:00</span>
                                    <span>сб-вс 11:00 - 21:00</span>
                                </div>
                                <img src="https://gitradik.github.io/stone-houses/assets/images/clock.svg" alt="clock">
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <a href="mailto:rminzp17@gmail.com" class="mail-to">
                                <img src="https://gitradik.github.io/stone-houses/assets/images/clock.svg" alt="clock">
                                <span>info@goodstone.realty</span>
                            </a>
                        </div>
                        <div class="col-md-12 pt-2 pb-4 d-flex justify-content-center">
                            <a class="go-office" href="/">
                                <span>Перейти на сайт оффиса</span>
                                <img src="https://gitradik.github.io/stone-houses/assets/images/arrow.svg" alt="arrow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-md-6 pt-3 pl-lg-5 pr-lg-5 position-relative bg-col"
                 style="background-image: url('https://gitradik.github.io/stone-houses/assets/images/6.jpg')">
               <div class="back"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="subtitle last-child">
                                <span>GOOD STONE</span>
                                <span>в Днепропетровске</span>
                            </div>
                        </div>
                        <div class="col-md-12 pb-2">
                            <div class="zone">
                                <span>Зона оказания услуг - Днепропетровск</span>
                                <span> и Днепропетровская область</span>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-end">
                            <div class="address-time">
                                <div class="d-flex flex-column align-items-end text-right">
                                    <span>г. Днепропетровск, улица Дюбарского</span>
                                    <span>д. 34, оффис 201</span>
                                </div>
                                <img src="https://gitradik.github.io/stone-houses/assets/images/geo.svg" alt="geo">
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-end">
                            <div class="address-time">
                                <div class="d-flex flex-column align-items-end">
                                    <span>пн-пт 10:00 - 22:00</span>
                                    <span>сб-вс 11:00 - 21:00</span>
                                </div>
                                <img src="https://gitradik.github.io/stone-houses/assets/images/clock.svg" alt="clock">
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <a href="mailto:rminzp17@gmail.com" class="mail-to">
                                <img src="https://gitradik.github.io/stone-houses/assets/images/clock.svg" alt="clock">
                                <span>info@goodstone.realty</span>
                            </a>
                        </div>
                        <div class="col-md-12 pt-2 pb-4 d-flex justify-content-center">
                            <a class="go-office" href="/">
                                <span>Перейти на сайт оффиса</span>
                                <img src="https://gitradik.github.io/stone-houses/assets/images/arrow.svg" alt="arrow">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>