@import "../../utils/dataStyles"

@media only screen and (max-width: 991px)
  .offices

    .bg-col
      background-image: none!important
      background-color: black!important

@media only screen and (max-width: 575px)
  .offices

    .title

      span
        font-size: $titleSize575

    .go-office
      font-size: 18px
      padding-left: 10px
      padding-right: 10px
      display: flex
      align-items: center

      img
        height: 17px
        width: 22px
