
<div class="about-us">
    <div class="row">
        <div class="col-md-12">
            <h2>О КОМПАНИИ GOOD STONE В ЦИФРАХ</h2>
        </div>
        <div class="col-sm-12 order-sm-1 col-lg-6 col">
            <div class="card-text pr-4 justify-content-end">
                <div class="card-center">
                    <div class="year">
                        <span>2010</span>
                    </div>
                    <div>
                        <div class="title">
                            <span class="ml-30">
                            Начало малоэтажной деятельности
                            </span>
                        </div>
                        <div class="subtitle">
                            <span>Начало малоэтажной деятельности команды.</span>
                            <span>
                                Участие в застройке коттеджного поселка в Каширском районе Московской области в качестве субподрядчика.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 order-sm-0 col-lg-6 col">
            <div class="card-img" style="background-image: url('https://gitradik.github.io/stone-houses/assets/images/2.jpg')">
                <div class="year-media">
                    <span>2010</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 order-sm-2 col-lg-6 col">
            <div class="card-img" style="background-image: url('https://gitradik.github.io/stone-houses/assets/images/3.jpg')">
                <div class="year-media">
                    <span>2013</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 order-sm-3 col-lg-6 col">
            <div class="card-text pl-4 justify-content-start">
                <div class="card-center">
                    <div class="year">
                        <span>2013</span>
                    </div>
                    <div>
                        <div class="title">
                            <span class="ml-30">
                            Расширение инженерной группы
                            </span>
                        </div>
                        <div class="subtitle">
                            <span>Расширение инженерной группы нашей компании.</span>
                            <span>
            Участие в застройке группы частных домов в составе Конноспортивного комплекса «Левадия» в качестве субподрядчика.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 order-sm-5 col-lg-6 col">
            <div class="card-text pr-4 justify-content-end">
                <div class="card-center">
                    <div class="year">
                        <span>2015</span>
                    </div>
                    <div>
                        <div class="title">
                            <span class="ml-30">
                          Начало работы в роли генподрядчика
                            </span>
                        </div>
                        <div class="subtitle">
                            <span>Начало работы в роли генподрядчика под собственным товарным знаком GOOD STONE.</span>
                            <span>
           Прямые договора подряда с физическими лицами и расширение перечня оказываемых услуг.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 order-sm-4 col-lg-6 col">
            <div class="card-img" style="background-image: url('https://gitradik.github.io/stone-houses/assets/images/4.jpg')">
                <div class="year-media">
                    <span>2015</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 order-sm-6 col-lg-6 col">
            <div class="card-img" style="background-image: url('https://gitradik.github.io/stone-houses/assets/images/5.jpg')">
                <div class="year-media">
                    <span>2016</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 order-sm-7 col-lg-6 col">
            <div class="card-text pl-4 justify-content-start">
                <div class="card-center">
                    <div class="year">
                        <span>2016</span>
                    </div>
                    <div>
                        <div class="title">
                            <span class="ml-30">
                           Открытие офиса продаж в Москве
                            </span>
                        </div>
                        <div class="subtitle">
                            <span>Открытие офиса продаж в Москве и оказание полного спектра услуг по строительству и проектированию.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 order-sm-9 col-lg-6 col">
            <div class="card-text pr-4 justify-content-end">
                <div class="card-center">
                    <div class="year">
                        <span>2018</span>
                    </div>
                    <div>
                        <div class="title">
                            <span class="ml-30">
                         Открытие офиса в Санкт-Петербурге
                            </span>
                        </div>
                        <div class="subtitle">
                            <span>Открытие офиса продаж в Санкт-Петербурге и оказание полного спектра услуг по строительству и проектированию.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 order-sm-8 col-lg-6 col">
            <div class="card-img" style="background-image: url('https://gitradik.github.io/stone-houses/assets/images/6.jpg')">
                <div class="year-media">
                    <span>2018</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center pt-5 pb-5">
        <div class="d-flex flex-column justify-content-end from-to">
            <span>С 2015 по начало</span>
            <span>2019 года мы:</span>
        </div>
        <div class="d-flex flex-column create-projects">
            <span>создали</span>
            <span>> 280</span>
            <span>проектов частных домов по индивидуальным параметрам наших клиентов</span>
        </div>
        <div class="d-flex flex-column create-projects">
            <span>создали</span>
            <span>> 280</span>
            <span>проектов частных домов по индивидуальным параметрам наших клиентов</span>
        </div>
    </div>
</div>