@import "../../utils/dataStyles"

.about-us
  font-family: 'Roboto', sans-serif

  .row
    max-width: 100%!important
    margin: 0!important

  .col
    padding: 0!important

  h2
    color: $orangeColor
    text-transform: uppercase
    font-weight: 700
    font-size: 36px
    margin-bottom: 20px
    text-align: center

  .from-to

    span
      text-transform: uppercase
      font-size: 30px
      color: $orangeColor
      font-weight: 700

  .create-projects
    max-width: 360px
    margin-left: 30px

    span
      text-transform: uppercase
      font-size: 90px
      color: $orangeColor
      font-weight: 700

      &:first-child
        font-size: 35px
        font-weight: 700
        color: $textColor

      &:last-child
        font-weight: 500
        font-size: 19px
        text-transform: lowercase
        color: $textColor

  .card-img
    height: 100%
    max-width: 100%
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    .year-media
      display: none

  .card-text
    background-color: $backGray
    display: flex
    padding-bottom: 30px

    .card-center
      width: 100%
      max-width: 510px

      .year
        font-size: 200px
        color: #fff
        font-family: 'Lato', sans-serif
        font-weight: 900
        line-height: 0.8

      .title
        margin-top: 15px
        font-size: 25px
        font-weight: 500
        line-height: 1.2

      .subtitle
        margin-top: 15px

        span
          display: inline-block
          font-size: 17px
          font-weight: 300
          line-height: 1.4

@import "./about-us-media"
