@import "../../utils/dataStyles"

@media only screen and (max-width: 991px)
  .about-us

    .from-to
      align-items: center
      padding-bottom: 20px

    .card-text
      position: relative
      justify-content: flex-start!important
      align-items: center
      padding: 15px!important
      padding-bottom: 25px!important

      .card-center

        .year
          display: none

        .title
          margin-top: 0!important

    .card-img
      display: flex
      min-height: 300px
      align-items: center
      padding-left: 25px

      .year-media
        display: block
        font-size: 220px
        color: #fff
        font-family: 'Lato', sans-serif
        font-weight: 900
        line-height: 0.8


@media only screen and (max-width: 575px)
  .about-us

    .card-text

      .card-center

        .title
          font-size: $subTitle575

        .subtitle

          span
            font-size: $textAboutUS

    h2
      font-size: $titleSize575

    .card-img
      min-height: 240px

      .year-media
        font-size: 150px

    .create-projects

      &:last-child
        padding-top: 15px

      span
        font-size: 70px

        &:first-child
          font-size: $subTitle575

        &:last-child
          font-size: 16px

    .from-to
      text-align: center

      span
        font-size: $titleSize575


@media only screen and (max-width: 419px)
  .about-us

    .card-img
      min-height: 220px

      .year-media
        font-size: 120px

@media only screen and (min-width: 992px)
  .about-us

    .col
      order: 0!important
