@import "../../utils/dataStyles"

.about-us
  margin-top: 30px
  font-family: 'Roboto', sans-serif

  .row
    max-width: 100%!important
    margin: 0!important

  .col
    padding: 0!important

  h2
    color: $orangeColor
    text-transform: uppercase
    font-weight: 700
    font-size: 36px
    margin-bottom: 20px
    text-align: center

  .card-img
    height: 100%
    width: 100%
    background-repeat: no-repeat
    background-size: cover
    background-position: center

  .card-text
    background-color: $backGray
    display: flex
    padding-bottom: 30px

    .card-center
      width: 100%
      max-width: 510px

      .year
        flex: 1
        font-size: 220px
        color: #fff
        font-family: 'Lato', sans-serif
        font-weight: 900
        line-height: 0.8

      .title
        margin-top: 15px
        font-size: 25px
        font-weight: 500
        line-height: 1.2

      .subtitle
        margin-top: 15px

        span
          display: inline-block
          font-size: 17px
          font-weight: 300
          line-height: 1.4
