
<div class="about-us">
        <div class="row">
            <div class="col-md-12">
                <h2>О КОМПАНИИ GOOD STONE В ЦИФРАХ</h2>
            </div>
            <div class="col-md-6 col">
                <div class="card-text pr-4 justify-content-end">
                    <div class="card-center">
                        <div class="year">
                            <span>2010</span>
                        </div>
                        <div>
                            <div class="title">
                                <span class="ml-30">
                                Начало малоэтажной деятельности
                                </span>
                            </div>
                            <div class="subtitle">
                                <span>Начало малоэтажной деятельности команды.</span>
                                <span>
                                    Участие в застройке коттеджного поселка в Каширском районе Московской области в качестве субподрядчика.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="card-img" style="background-image: url('https://gitradik.github.io/stone-houses/assets/images/2.jpg')">

                </div>
            </div>
            <div class="col-md-6 col"></div>
            <div class="col-md-6 col">
                <div class="card-text pl-4 justify-content-start">
                    <div class="card-center">
                        <div class="year">
                            <span>2013</span>
                        </div>
                        <div>
                            <div class="title">
                                <span class="ml-30">
                                Расширение инженерной группы
                                </span>
                            </div>
                            <div class="subtitle">
                                <span>Расширение инженерной группы нашей компании.</span>
                                <span>
                Участие в застройке группы частных домов в составе Конноспортивного комплекса «Левадия» в качестве субподрядчика.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="card-text pr-4 justify-content-end">
                    <div class="card-center">
                        <div class="year">
                            <span>2015</span>
                        </div>
                        <div>
                            <div class="title">
                                <span class="ml-30">
                              Начало работы в роли генподрядчика
                                </span>
                            </div>
                            <div class="subtitle">
                                <span>Начало работы в роли генподрядчика под собственным товарным знаком GOOD STONE.</span>
                                <span>
               Прямые договора подряда с физическими лицами и расширение перечня оказываемых услуг.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col"></div>
            <div class="col-md-6 col"></div>
            <div class="col-md-6 col">
                <div class="card-text pl-4 justify-content-start">
                    <div class="card-center">
                        <div class="year">
                            <span>2016</span>
                        </div>
                        <div>
                            <div class="title">
                                <span class="ml-30">
                               Открытие офиса продаж в Москве
                                </span>
                            </div>
                            <div class="subtitle">
                                <span>Открытие офиса продаж в Москве и оказание полного спектра услуг по строительству и проектированию.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="card-text pr-4 justify-content-end">
                    <div class="card-center">
                        <div class="year">
                            <span>2018</span>
                        </div>
                        <div>
                            <div class="title">
                                <span class="ml-30">
                             Открытие офиса в Санкт-Петербурге
                                </span>
                            </div>
                            <div class="subtitle">
                                <span>Открытие офиса продаж в Санкт-Петербурге и оказание полного спектра услуг по строительству и проектированию.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col"></div>
        </div>
</div>