<div class="advantages">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Наши преимущества
                </h2>
            </div>
            <div class="col col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="../../assets/images/advantages/tracking.png" alt="tracking">
                    <div class="my-text">
                        <span>
                              Бесплатный выезд на объект
                        </span>
                        <span>
                             Перед тем как заключить договор, мы выезжаем на объект для просчета сметы бесплатно
                        </span>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="../../assets/images/advantages/saw.png" alt="saw">
                    <div class="my-text">
                        <span>
                            Профессиональный инструмент
                        </span>
                        <span>
                             Работаем только с современными и  профессиональными инструментами
                        </span>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="../../assets/images/advantages/certificate.png" alt="certificate">
                    <div class="my-text">
                        <span>
                           Качество и гарантии
                        </span>
                        <span>
                            Мы отвечаем за качеством наших работ имея за спиной многолетний опыт
                        </span>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="card">
                    <img src="../../assets/images/advantages/setting.png" alt="setting">
                    <div class="my-text">
                        <span>
                          Полный цикл постройки
                        </span>
                        <span>
                           От заливки фундамента, до вывоза строительно мусора и порядка на строительной площадке
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>