@import "../../utils/dataStyles"


@media only screen and (max-width: 1199px)
  .working

    .card
      margin-top: 20px

@media only screen and (max-width: 575px)
  .working

    h2
      font-size: $titleSize575

@media only screen and (max-width: 459px)
  .working

    .card-wrap

      .card

        .descr
          min-height: auto
