@media only screen and (min-width: 1200px)
  .first-scroll

    .choice

      .links

        a

          img
            height: auto
            width: 100%
            max-width: 86px

@media only screen and (max-width: 991px)
  .first-scroll

    .choice

      .links

        a

          span
            font-size: 20px

@media only screen and (max-width: 575px)
  .first-scroll

    .choice

      .links

        a

          span
            font-size: 19px

@media only screen and (max-width: 419px)
  .first-scroll

    .choice

      .links

        a

          span
            font-size: 16px

