

<div class="first-scroll">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a class="home-link" href="/">
                    <div>
                        <img src="https://gitradik.github.io/stone-houses/assets/logo.jpg" alt="logo">
                    </div>
                </a>
            </div>
            <div class="col-md-12 text-center">
                <h1>
                    Индивидуальные решения строительства домов и коттеджей  под "Ключ"
                </h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="https://gitradik.github.io/stone-houses/assets/images/1.jpg" alt="one">
            </div>
            <div class="col-md-6">
                <div class="choice">
                    <h4>Выберите регион строительства:</h4>
                    <form name="myFormRadio" class="links">
                        <label>
                            <input name="radioFirstScroll" type="radio" value="zp">
                            <div class="link-icon" style="background-image: url('https://gitradik.github.io/stone-houses/assets/images/zpLink.jpg')"></div>
                            <span>Запорожье и Запорожская область</span>
                        </label>
                        <label>
                            <input name="radioFirstScroll" type="radio" value="dnepr">
                            <div class="link-icon" style="background-image: url('https://gitradik.github.io/stone-houses/assets/images/dneprLink.jpg')"></div>
                            <span>Днепропетровск и Днепропетровская область</span>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>