@import "../../utils/dataStyles"

.first-scroll
  font-family: 'Roboto', sans-serif!important

  img
    height: auto
    max-width: 100%

  .choice

    h4
      text-transform: uppercase
      font-size: 20px
      line-height: 1.2
      font-weight: 700
      margin-top: $paddingTitle
      margin-bottom: 10px

    .links

      a
        display: flex
        align-items: center
        justify-content: space-around
        margin: 10px 0
        padding: 10px 18px
        min-height: 107px
        border-radius: 15px
        border: 1px solid #ccc
        transition: .15s
        background-color: $backGray

        .link-icon
          margin-right: 20px
          margin-left: 20px
          min-height: 86px
          min-width: 86px
          background-size: cover
          background-position: center
          background-repeat: no-repeat
          border-radius: 100%

        span
          font-size: 24px
          letter-spacing: -1px
          text-transform: uppercase
          transition: .15s
          color: $textColor

        &:hover
          text-decoration: none
          transition: .15s
          background-color: $orangeColor

          span
            transition: .4s
            color: white

  .home-link
    margin-top: 30px
    display: flex

    img
      height: auto
      max-width: 200px

  h1
    margin-top: 30px
    margin-bottom: $paddingTitle
    color: $textColor
    line-height: 1.2
    font-size: 25px
    font-weight: 500
    text-transform: uppercase

  hr
    background-color: $hrColor
    height: 7px
    border-top: none
    margin: 30px 0
    width: 100%

@import "./first-scroll-media"