<div class="first-scroll">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a class="home-link" href="/">
                    <img src="../../assets/b-logo.svg" alt="b-logo">
                </a>
            </div>
            <div class="col-md-12 text-center">
                <h1>
                    СТРОИТЕЛЬСТВО И ПРОЕКТИРОВАНИЕ КАМЕННЫХ ДОМОВ ДЛЯ ЖИЗНИ
                </h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/1.jpg" alt="one">
            </div>
            <div class="col-md-6">
                <div class="choice">
                    <h4>Выберите регион строительства:</h4>
                    <div class="links">
                        <a href="/msk">
                            <img src="../../assets/images/moscow.png" alt="msk">
                            <span>Москва и московская область</span>
                        </a>
                        <a href="/spb">
                            <img src="../../assets/images/spb.png" alt="spb">
                            <span>Санкт-петербург и ленинградская область</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>