.title-scroll {
  min-height: 100vh;
  background-image: url("../../assets/images/background-home.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.title-scroll .back {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.title-scroll .button-down {
  outline: none;
  padding: 20px 30px;
}
.title-scroll .button-down i {
  color: white;
  font-size: 48px;
  animation: shadow 2s infinite ease-in-out;
}
.title-scroll .home-link {
  display: flex;
  align-self: flex-start;
  outline: none;
  max-width: 150px;
  margin-left: 30px;
  transition: 0.3s;
}
.title-scroll .home-link img {
  height: auto;
  max-width: 100%;
  transition: 0.3s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.title-scroll .home-link:hover {
  transition: 0.3s;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}
.title-scroll .text-center {
  overflow: hidden;
  padding-top: 30px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.title-scroll .text-center h1 {
  margin-bottom: 60px;
}
.title-scroll .text-center ul {
  list-style: none;
  display: inline-block;
  padding: 35px;
  position: relative;
}
.title-scroll .text-center .center-list {
  background-color: rgba(29, 136, 237, 0.3);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 50px 100px;
  margin-top: 50px;
}
.title-scroll .text-center .center-list:before {
  position: absolute;
  z-index: 1;
  content: "";
  top: -10%;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-color: rgba(29, 136, 237, 0.18);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.title-scroll .text-center .center-list:after {
  position: absolute;
  z-index: 1;
  content: "";
  top: -20%;
  left: -20%;
  right: -20%;
  bottom: 0;
  background-color: rgba(29, 136, 237, 0.1);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.title-scroll .text-center .center-list li h3 {
  position: relative;
  display: inline-block;
}
.title-scroll .text-center .center-list li h3:before {
  position: absolute;
  content: "";
  top: 50%;
  left: -30%;
  transform: translateY(-50%);
  height: 3px;
  background-color: white;
  width: 25%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.title-scroll .text-center .center-list li h3:after {
  position: absolute;
  content: "";
  top: 50%;
  right: -30%;
  transform: translateY(-50%);
  height: 3px;
  background-color: white;
  width: 25%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.title-scroll .text-center .bottom-offer {
  padding: 10px;
  position: relative;
  margin-bottom: 30px;
}
.title-scroll .text-center .bottom-offer hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(9, 255, 73, 0.1), #1D88ED, rgba(9, 255, 73, 0.1));
}
.title-scroll .text-center .bottom-offer li h3 {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.title-scroll .text-center h1 {
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  font-size: 65px;
}
.title-scroll .text-center h1 span {
  font-weight: 900;
  border-bottom: 5px solid white;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}
.title-scroll .text-center h3 {
  position: relative;
  z-index: 2;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.title-scroll .text-center i {
  position: relative;
  color: white;
  z-index: 2;
  font-size: 14px;
  margin-right: 10px;
}

.form-modal {
  width: 100%;
}
.form-modal .input-box {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .first-scroll .choice .links label img {
    height: auto;
    width: 100%;
    max-width: 86px;
  }
}
@media only screen and (max-width: 1199px) {
  .first-scroll .first-scroll-slick .my-slick-item {
    min-height: 300px;
  }
  .first-scroll #carouselExampleIndicators {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .first-scroll .choice .links label span {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .first-scroll .choice .links {
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .first-scroll .first-scroll-slick .my-slick-item {
    min-height: 230px;
  }
  .first-scroll .choice h4 {
    font-size: 20px;
  }
  .first-scroll .choice .links label {
    padding: 5px 10px;
    justify-content: flex-start;
  }
  .first-scroll .choice .links label span {
    font-size: 16px;
  }
  .first-scroll .choice .links label .link-icon {
    margin-left: 0;
  }
  .first-scroll .choice .links label .bullet {
    margin-left: 0;
  }
}
@media only screen and (max-width: 419px) {
  .first-scroll .first-scroll-slick .my-slick-item {
    min-height: 200px;
  }
  .first-scroll .choice .links label span {
    font-size: 14px;
    letter-spacing: 0.05em;
  }
}
@media only screen and (max-width: 350px) {
  .first-scroll .first-scroll-slick .my-slick-item {
    min-height: 170px;
  }
}

/*# sourceMappingURL=first-scroll.css.map */
