.title-scroll
  min-height: 100vh
  background-image: url('../../assets/images/background-home.png')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  padding-top: 40px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  position: relative

  .back
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background-color: rgba(0,0,0,.3)

  .button-down
    outline: none
    padding: 20px 30px

    i
      color: white
      font-size: 48px
      animation: shadow  2s infinite ease-in-out

  .home-link
    display: flex
    align-self: flex-start
    outline: none
    max-width: 150px
    margin-left: 30px
    transition: .3s

    img
      height: auto
      max-width: 100%
      transition: .3s
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.1)

    &:hover
      transition: .3s
      box-shadow: 0 2px 15px 0 rgba(0,0,0,.1)

  .text-center
    overflow: hidden
    padding-top: 30px
    box-shadow: 0 0 25px 0 rgba(0,0,0,.4)

    h1
      margin-bottom: 60px

    ul
      list-style: none
      display: inline-block
      padding: 35px
      position: relative

    .center-list
      background-color: rgba(29, 136, 237,.3)
      box-shadow: 0 0 25px 0 rgba(0,0,0,.4)
      border-radius: 4px
      padding: 50px 100px
      margin-top: 50px

      &:before
        position: absolute
        z-index: 1
        content: ''
        top: -10%
        left: -10%
        right: -10%
        bottom: 0
        background-color: rgba(29, 136, 237,.18)
        box-shadow: 0 0 25px 0 rgba(0,0,0,.4)

      &:after
        position: absolute
        z-index: 1
        content: ''
        top: -20%
        left: -20%
        right: -20%
        bottom: 0
        background-color: rgba(29, 136, 237, 0.1)
        box-shadow: 0 0 25px 0 rgba(0,0,0,.4)

      li

        h3
          position: relative
          display: inline-block

          &:before
            position: absolute
            content: ''
            top: 50%
            left: -30%
            transform: translateY(-50%)
            height: 3px
            background-color: white
            width: 25%
            box-shadow: 0 0 25px 0 rgba(0,0,0,.4)

          &:after
            position: absolute
            content: ''
            top: 50%
            right: -30%
            transform: translateY(-50%)
            height: 3px
            background-color: white
            width: 25%
            box-shadow: 0 0 25px 0 rgba(0,0,0,.4)

    .bottom-offer
      padding: 10px
      position: relative
      margin-bottom: 30px

      hr
        border: 0
        height: 1px
        background-image: linear-gradient(to right, rgba(9, 255, 73, 0.1), #1D88ED, rgba(9, 255, 73, 0.1))

      li

        h3
          text-shadow: 1px 2px 3px rgba(0,0,0,.5)


    h1
      color: white
      text-shadow: 1px 1px 10px rgba(0,0,0,.4)
      font-size: 65px

      span
        font-weight: 900
        border-bottom: 5px solid white
        text-shadow: 5px 5px 10px rgba(0,0,0,.7)

    h3
      position: relative
      z-index: 2
      color: white
      text-shadow: 1px 1px 1px rgba(0,0,0,.8)

    i
      position: relative
      color: white
      z-index: 2
      font-size: 14px
      margin-right: 10px

.form-modal
  width: 100%

  .input-box
    width: 100%


@import "first-scroll-media"

