@import "../../utils/dataStyles"

.first-scroll
  font-family: 'Roboto', sans-serif!important

  img
    height: auto
    max-width: 100%

  .choice
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between

    h4
      font-size: 20px
      line-height: 1.2
      font-weight: 700
      margin-bottom: 10px

    .links

      label
        position: relative
        cursor: pointer
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 15px
        margin-bottom: 0
        background-color: white
        padding: 12px 18px
        min-height: 107px
        transition: .15s
        border: 2px solid #ccc

        .link-icon
          margin-right: 20px
          margin-left: 20px
          min-height: 66px
          min-width: 66px
          background-size: cover
          background-position: center
          background-repeat: no-repeat
          border-radius: 100%

        span
          font-size: 20px
          letter-spacing: -1px
          text-transform: uppercase
          transition: .15s
          color: $textColor

        &:hover
          text-decoration: none
          transition: .15s
          border-color: $orangeColor

        //&:before
          content: ""
          width: 11px
          height: 11px
          background: white
          position: absolute
          left: 14px
          top: 50%
          transform: translateY(-50%)
          box-sizing: border-box
          border-radius: 50%

        input[type="radio"]
          display: none

        input[type="radio"]:checked ~ .bullet .line
          &.zero
            animation-name: drop-zero
            animation-delay: 0.100s
            animation-duration: 0.9s
            animation-fill-mode: forwards
          &.one
            animation-name: drop-one
            animation-delay: 0.100s
            animation-duration: 0.9s
            animation-fill-mode: forwards
          &.two
            animation-name: drop-two
            animation-delay: 0.100s
            animation-duration: 0.9s
            animation-fill-mode: forwards
          &.three
            animation-name: drop-three
            animation-delay: 0.100s
            animation-duration: 0.9s
            animation-fill-mode: forwards
          &.four
            animation-name: drop-four
            animation-delay: 0.100s
            animation-duration: 0.9s
            animation-fill-mode: forwards
          &.five
            animation-name: drop-five
            animation-delay: 0.100s
            animation-duration: 0.9s
            animation-fill-mode: forwards
          &.six
            animation-name: drop-six
            animation-delay: 0.100s
            animation-duration: 0.9s
            animation-fill-mode: forwards
          &.seven
            animation-name: drop-seven
            animation-delay: 0.100s
            animation-duration: 0.9s
            animation-fill-mode: forwards

            @keyframes explode
              0%
                opacity: 0
                transform: scale(4)

              60%
                opacity: 1
                transform: scale(0.5)

              100%
                opacity: 1
                transform: scale(1)


            @keyframes drop-zero
              0%
                opacity: 0
                transform: translateY(20px)
                height: 10px

              20%
                opacity: 1

              100%
                transform: translateY(-2px)
                height: 0px
                opacity: 0


            @keyframes drop-one
              0%
                opacity: 0
                transform: rotate(-55deg) translate(-20px)
                width: 10px

              20%
                opacity: 1

              100%
                transform: rotate(-55deg) translate(9px)
                width: 0px
                opacity: 0


            @keyframes drop-two
              0%
                opacity: 0
                transform: translate(-20px)
                width: 10px

              20%
                opacity: 1

              100%
                transform: translate(9px)
                width: 0px
                opacity: 0


            @keyframes drop-three
              0%
                opacity: 0
                transform: rotate(55deg) translate(-20px)
                width: 10px

              20%
                opacity: 1

              100%
                transform: rotate(55deg) translate(9px)
                width: 0px
                opacity: 0


            @keyframes drop-four
              0%
                opacity: 0
                transform: rotate(55deg) translate(20px)
                width: 10px

              20%
                opacity: 1

              100%
                transform: rotate(55deg) translate(-9px)
                width: 0px
                opacity: 0


            @keyframes drop-five
              0%
                opacity: 0
                transform: translate(20px)
                width: 10px

              20%
                opacity: 1

              100%
                transform: translate(-9px)
                width: 0px
                opacity: 0


            @keyframes drop-six
              0%
                opacity: 0
                transform: rotate(-55deg) translate(20px)
                width: 10px

              20%
                opacity: 1

              100%
                transform: rotate(-55deg) translate(-9px)
                width: 0px
                opacity: 0


            @keyframes drop-seven
              0%
                opacity: 0
                transform: translateY(-20px)
                height: 10px

              20%
                opacity: 1

              100%
                transform: translateY(2px)
                height: 0px
                opacity: 0

        input[type="radio"]:checked ~ .bullet
          position: absolute
          opacity: 1
          animation-name: explode
          animation-duration: 0.350s

        .bullet
          position: absolute
          width: 70px
          height: 70px
          margin-left: 20px
          border: 5px solid white
          opacity: 0
          border-radius: 50%

          .line
            position: absolute
            width: 10px
            height: 2px
            background-color: #fff
            opacity: 0
            &.zero
              left: 11px
              top: -21px
              width: 2px
              height: 10px
            &.one
              right: -7px
              top: -11px
              transform: rotate(-55deg) translate(-9px)
            &.two
              right: -20px
              top: 11px
              transform: translate(-9px)
            &.three
              right: -8px
              top: 35px
              transform: rotate(55deg) translate(-9px)
            &.four
              left: -8px
              top: -11px
              transform: rotate(55deg) translate(9px)
            &.five
              left: -20px
              top: 11px
              transform: translate(9px)
            &.six
              left: -8px
              top: 35px
              transform: rotate(-55deg) translate(9px)
            &.seven
              left: 11px
              bottom: -21px
              transform: translateY(-20px)
              width: 2px
              height: 10px

      .activeLinkChoice
        transition: .15s
        background-color: $orangeColor
        border-color: $orangeColor

        span
          color: white

  .home-link
    margin-top: 30px
    display: flex

    div
      max-width: 200px

      img
        height: auto
        max-width: 100%

  h1
    margin-top: 30px
    margin-bottom: $paddingTitle
    color: $textColor
    line-height: 1.2
    font-size: 25px
    font-weight: 500
    text-transform: uppercase

  hr
    background-color: $hrColor
    height: 7px
    border-top: none
    margin: 30px 0
    width: 100%

  .form-back
    padding: 10px
    display: flex
    height: 100%
    border: 2px solid $orangeColor

    .myFirstForm
      position: relative
      z-index: 20

      .form-title
        font-size: 20px
        line-height: 1.2
        font-weight: 500
        margin-top: $paddingTitle
        margin-bottom: 10px
        text-align: center

        span
          color: black
          text-transform: uppercase
          font-weight: 700

      input
        display: block
        width: 100%
        max-width: 300px
        margin-left: auto
        margin-right: auto
        margin-bottom: 10px
        text-align: center
        padding: 5px
        transition: .15s
        border: 2px solid $orangeColor
        box-shadow: none

        &:focus
          transition: .15s
          box-shadow: 0 2px 7px 0 rgba(0,0,0,.2)

      .invalid-phone
        transition: .15s
        border-color: red

      button
        cursor: pointer
        position: relative
        overflow: hidden
        display: block
        margin-left: auto
        margin-right: auto
        padding: 10px 30px
        border: 2px solid $orangeColor
        width: 100%
        max-width: 300px
        color: white
        font-weight: 500
        text-transform: uppercase
        transition: .15s
        background-color: $orangeColor

        &:before
          position: absolute
          content: ''
          top: 0
          left: -20px
          bottom: 0
          transform: skewX(-20deg)
          width: 20px
          box-shadow: 0 0 25px 0 rgba(255,255,255,.2)
          animation: btnanim 2s infinite ease-in-out

        @keyframes btnanim
          0%
            transform: translateX(0) skewX(-20deg)

          100%
            transform: translateX(500px)

@import "./first-scroll-media"
@import "../../utils/bootstrap-carauser"