@import "../../utils/dataStyles"

@media only screen and (min-width: 1200px)
  .first-scroll

    .choice

      .links

        label

          img
            height: auto
            width: 100%
            max-width: 86px

@media only screen and (min-width: 992px)
  .title-scroll
    //min-height: 50vh

@media only screen and (max-width: 1199px)
  .first-scroll

    .first-scroll-slick

      .my-slick-item
        min-height: 300px

    #carouselExampleIndicators
      margin-bottom: 30px

@media only screen and (max-width: 991px)
  .title-scroll
    min-height: auto

    .text-center

      h1
        font-size: 40px

      .center-list
        margin-top: 70px

      ul

        h3
          font-size: 22px


  .first-scroll

    .choice

      .links

        label

          span
            font-size: 20px

@media only screen and (max-width: 767px)
  .first-scroll

    .choice

      .links
        padding-bottom: 30px

    .form-back


@media only screen and (max-width: 575px)
  .title-scroll
    min-height: auto

    .button-down

      i
        font-size: 32px

    .text-center
      padding-top: 0

      .bottom-offer
        margin-bottom: 0

      h1
        font-size: 32px

      .center-list
        margin-top: 40px

      ul

        h3
          font-size: 18px
  .first-scroll

    .first-scroll-slick

      .my-slick-item
        min-height: 230px

    .choice

      h4
        font-size: $subTitle575

      .links

        label
          padding: 5px 10px
          justify-content: flex-start

          span
            font-size: 16px

          .link-icon
            margin-left: 0

          .bullet
            margin-left: 0

@media only screen and (max-width: 419px)
  .title-scroll
    min-height: auto

    .button-down

      i
        font-size: 28px

    .text-center
      padding-top: 0
      display: flex
      flex-direction: column
      align-items: center

      .bottom-offer
        margin-bottom: 0

      h1
        font-size: 24px

      .center-list
        margin-top: 40px

      ul

        h3
          font-size: 16px
  .first-scroll

    .first-scroll-slick

      .my-slick-item
        min-height: 200px

    .choice

      .links

        label

          span
            font-size: 14px
            letter-spacing: .05em


@media only screen and (max-width: 350px)
  .first-scroll

    .first-scroll-slick

      .my-slick-item
        min-height: 170px

