<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>наши контакты</h2>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="txtWrap">
                    <h4>Контакты:</h4>
                    <hr>
                    <a href="tel:+38"><i class="fas fa-phone"></i> +38 (999) 999-99-99</a>
                    <a href="tel:+38"><i class="fas fa-phone"></i> +38 (999) 999-99-99</a>
                    <p><i class="fas fa-map-marked-alt"></i>ул. Патриотическая 58. г.Запорожье</p>
                    <p>ООО "АЛЗА СТРОЙ"</p>
                    <hr>
                    <p class="social">
                        <a href="#0" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="#0" target="_blank"><i class="fab fa-instagram"></i></a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2251.9958809591835!2d35.13081481004564!3d47.837858984276295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0YPQuy4g0J_QsNGC0YDQuNC-0YLQuNGH0LXRgdC60LDRjyA1OC4g0LMu0JfQsNC_0L7RgNC-0LbRjNC1!5e0!3m2!1suk!2sua!4v1555579543754!5m2!1suk!2sua" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0 d-flex justify-content-center">
                <form class="myFirstForm">
                    <div class="form-title">
                        <span>Остались вопросы?</span>
                        <span>Оставьте контакты</span>
                        <span>Мы перезвоним!</span>
                    </div>
                    <hr>
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="Телефон">
                    <button>Отправить</button>
                </form>
            </div>
        </div>
    </div>
</footer>