<div class="construction-time">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-8 text-center">
                <h2>Ориентировочные сроки по строительству дома 150 - 250 м2</h2>
            </div>
            <div class="col-md-12 col-xl-4"></div>
            <div class="col-md-4 col-xl-2 d-flex justify-content-center ">
                <div class="card">
                    <img src="https://gitradik.github.io/stone-houses/assets/images/construction-time/1.jpg" alt="1">
                    <div class="desc">
                        Устройство фундамента

                        До 1 мес
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-2 d-flex justify-content-center">
                <div class="card">
                    <img src="https://gitradik.github.io/stone-houses/assets/images/construction-time/2.png" alt="1">
                    <div class="desc">
                        Строительство коробки дома

                        3 - 4 месяца
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-2 d-flex justify-content-center">
                <div class="card">
                    <img src="https://gitradik.github.io/stone-houses/assets/images/construction-time/3.jpg" alt="1">
                    <div class="desc">
                        Строительство дома под чистовую отделку

                        5 - 6 месяцев
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-6">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="card">
                            <img src="https://gitradik.github.io/stone-houses/assets/images/construction-time/main.png" alt="1">
                            <div class="desc">
                                Строительство дома "Под ключ"

                                6 мес до 1,5 года
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <div class="card">
                            <h4>Строим дома "Под ключ" из кирпича,

                                керамических блоков и газобетона</h4>
                            <button>Получить консультацию

                                на объекте</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>