<div class="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="title">услуги GOOD STONE</div>
            </div>
            <div class="col-md-6">
                <div class="service-item">
                    <img src="https://gitradik.github.io/stone-houses/assets/images/services/stroit_gr.svg" alt="stroit_gr">
                    <div class="item-text">
                        <span>СТРОИТЕЛЬСТВО</span>
                        <span>Квалифицированное проведение строительно- монтажных работ на основе постоплатной системы. Гарантия качества и надежности.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>
    </div>

</div>