@import "../../utils/dataStyles"

.services

  .title
    text-transform: uppercase
    font-weight: 700
    font-size: 36px
    color: $textColor
    text-align: center

  .service-item

    .item-text

      span
        display: block