<div class="projects">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Наши проекты</h2>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h4>Строительство</h4>
                    <div class="image-block" style="background-image: url('https://gitradik.github.io/stone-houses/assets/images/projects/image1.png')">
                        <div class="text">
                            Выполняем строительство домов  и коттеджов, под Ключ, с индивидуальным подходом, авторским надзором и с гарантией качества
                        </div>
                    </div>
                    <a href="/">подробнее</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h4>Ремонтные работы</h4>
                    <div class="image-block" style="background-image: url('https://gitradik.github.io/stone-houses/assets/images/projects/image2.jpg')">
                        <div class="text">
                            Выполняем строительство домов  и коттеджов, под Ключ, с индивидуальным подходом, авторским надзором и с гарантией качества
                        </div>
                    </div>
                    <a href="/">подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>