$textColor: #414042
$textGray: #bababa
$hrColor: #EFEFEF
$backGray: #EBEBEB
$orangeColor: #1D88ED
$orangeColorRgb: rgba(29, 136, 237, 0.2)

$titleSize575: 26px
$subTitle575: 20px
$textAboutUS: 16px

$hardTextSize: 24px
$middleTextSize: 20px
$lightTextSize: 16px

$paddingTitle: 20px